html, body {
  height: 100%;
  width: 100%;
}

#main_wrapper {
  min-height: 70%;
  overflow-x: visible;
}

#header_wrapper {
  height: 80px;
}

#header {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#header h1 {
  padding: 0.5em;
  position: absolute;
}

#header ul.Menu{
  position: absolute;
  right: 0px;
  top: 55px;
  float: right;
  clear: right;
}

#header ul.Menu li {
  display: inline;
  margin: 1em;
  padding: 0.8em;
}

#content {
  padding: 2em;
  width: 960px;
  margin: 0 auto;
}


#footer_wrapper {
  height: 240px;
  width: 100%;
  clear: both;
}
#footer {
  margin: 1em auto;
  width: 960px;
}

#footer #footer_links {
  position: absolute;
  width: 400px
}

#footer #mission{
  width: 400px;
  float: right;
}

.Dashboard #content {
  padding: 0;
}

.Dashboard ul.BucketList {
  width: 20%;
  float: left;
}

.Dashboard ul.BucketList li {
  margin: 0;
  padding: 1em;
  height: 1em;
}

.Dashboard div.DisplayPort {
  float: right;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 80%;
}




/* Generic Classes */

.Container {
  padding: 1em;
}

ul.ItemList {
  list-style: none;
}

.Item {
  width: 100%;
  margin-bottom: 1em;
}
.Item h1 {
  width: 100%;
}

.ClearBoth {
  clear: both;
}