* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#main_wrapper {
  min-height: 70%;
}

#header_wrapper {
  height: 80px;
  text-align: center;
}

#header {
  width: 960px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
}

#header h1 {
  line-height: 80px;
}

#header ul.Menu{
  line-height: 120px;
}

#header ul.Menu li {
  display: inline;
  margin: 2.5px;
  padding: 10px;
}

#content {
  width: 960px;
  margin: 0 auto;
}

#content h1, #content h2, #content h3, #content h4, #content h5 {
  margin-top: 1em;
}

#signin {
  margin: 10px auto;
  padding: 30px 20px;
  position: relative;
  display: inline-block;
}


#footer_wrapper {
  height: 240px;
  width: 100%;
  text-align: center;
}

#footer {
  margin: 20px auto;
  width: 960px;
}

#footer #mission{
  width: 400px;
}
.Dashboard ul.BucketList {
  width: 20%;
}

.Dashboard ul.BucketList li {
  margin: 0;
  padding: 1em;
  height: 1em;
}

.Dashboard div.DisplayPort {
  height: 100%;
  width: 80%;
  top: -10px;
  position: relative;
}

#bacn_list li {
  margin: 10px 0;
}



/* Generic Classes */

.Container {
  padding: 1em;
}

ul.ItemList {
  list-style: none;
}

.Item {
  width: 100%;
  margin-bottom: 1em;
}
.Item h1 {
  width: 100%;
}

.ClearBoth {
  clear: both;
}


/* hbox and vbox */

.hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;

  display: box;
  box-orient: horizontal;
  box-align: stretch;

  width: 100%;
}

.hbox > * {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  display: block;
}

.vbox {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;

  display: box;
  box-orient: vertical;
  box-align: stretch;
}

.vbox > * {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

.spacer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.reverse {
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
}

.boxFlex0 {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

.boxFlex1, .boxFlex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.boxFlex2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
}

.start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
}

.end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
}

.center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}
