/*
222  - dark grey
008fca - light blue
*/

body{
  font: 10pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c2d2b;
}

a { }
a img {border: none;}
a:link, a:visited {color: #555}
a:hover {color: #000;}

#header_wrapper {
  background: #fff;
  background-image: -webkit-gradient(linear, center bottom, center top, from(#fff), to(#fefefe), color-stop(1%, #f5f5f5));
  background-image: -moz-linear-gradient(bottom, #fff 1%, #f5f5f5 1%, #fefefe 100%);
  border-bottom: 1px solid #dfdfdf;
}

#header h1 {
  font-variant: small-caps;
  font-size: 200%;
}

#header h1 a{
  color: #222;
  text-decoration: none;
}

#content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid transparent;
  -moz-box-shadow: 0px -1px 5px rgba(60,60,60,0.15);
  -webkit-box-shadow: 0px -1px 5px rgba(60,60,60,0.15);
}

#email {
  text-align:center;
  border:1px solid #ccc;
  background-color:#eee;
  border-radius:5px;
}

#email:focus {
  border: 1px solid #ccc;
  outline: none;
}

#signin {
  border-bottom: 1px solid #bbb;
  background-image: -webkit-gradient(linear, center bottom, center top, from(#fff), to(#efefef), color-stop(10%, #fefefe), color-stop(90%, #f2f2f2));
  background-image: -moz-linear-gradient(top, #fff 10%, #fefefe 10%, #f2f2f2 90%, #efefef 100%);
}

.SignIn {
  text-decoration: none;
}

.extra {
  font-size: 75%;
  color: #888;
}

#footer_wrapper {
  border-top: 1px solid #555;
  color: #fff;
  background-color: #222;
}

#footer a,
#footer a:visited,
#footer a:hover {
  color: #ccc;
}

#footer .Copyright {
  text-align: center;
  margin: 5px 0;
}

/* Generic Classes */

.Item {
  border-bottom: 2px solid #ccc;
}

.Item h1 {
  display: block;
}

ul{
  list-style: none;
}
