/*
2c2d2b - almost black
e2e9f9 - light blue
eaeaea - light grey
8aae0b - green
5480cc - darkish blue
*/

body{
  font: 0.8em Verdana, sans-serif;
  line-height: 1; 
  color: #2c2d2b; 
}

a { text-decoration: none; }
a img {border: none;}
a:link, a:visited {color: #555}
a:hover {color: #000;}
  
#header {
  background: #2c2d2b;
  color: #fffbff;
}

#header h1 {
  font-size: 3em;
}
#header h1 a{
  color: #fff;
}


#content {
  background-color: #fff;
}

.Bacn #content {
  background-color: #e2e9f9;
}
.Bacn #content ul.BucketList li {
  background: #ccc; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ccc'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #eee,  #ccc); /* for firefox 3.6+ */ 
}
.Bacn #content ul.BucketList li.Selected {
  background: none;
  background-color: #fff;
}
.Bacn #content div.DisplayPort {
  background-color: #fff;
}

#dashboard {
  background-color: #fff;
}

#footer {
  border-top: 2px solid #aaa;
}

/* Generic Classes */

.Item {
  border-bottom: 2px solid #ccc;
}

.Item h1 {
  display: block;
}
