.notification {
  margin: 0;
  padding: 0;
  color: #333;
}

.notification:hover button.ignore {
  visibility: visible;
}

button {
  padding: 2.5px 5px;
  cursor: pointer;
}

button.ignore {
  visibility: hidden;
  background: #ddd;
  border: 1px solid #aaa;
  opacity: 0.2;
  
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

button.ignore:hover {
  background-color: #C63929;
  border: 1px solid #951100;
  color: white;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
  opacity: 1.0;
  
  background-image: -moz-linear-gradient(top, #EE432E 0%, #C63929 50%, #B51700 50%, #891100 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #EE432E), color-stop(0.5, #C63929), color-stop(0.5, #B51700), color-stop(1, #891100));
  
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
     -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
          box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
}

.sender {
  margin-right: 5px;
}

.name {
  color: #222;
  font-weight: bold;
}

.handle {
    display: block;
    margin: 7px 0 0;
  color: #aaa;
}

.action {
  color: #222;
}

.message {
  margin: 10px 0;
  color: #444;
  font-style: italic;
}

.message:empty {
    display: none;
}

.image {
  padding-right: 10px;
  width: 16px;
}
