<% content_for :script do %>
  $(function(){
    for(var i=0; i<4; i++){
      $(".ItemList").append($(".Item").clone());
    }
  });
<% end %>
<div class="hbox">
<ul class="BucketList Menu">
  <li><a href="#">All</a></li>
  <li class="Selected"><a href="#">Facebook</a></li>
  <li><a href="#">Twitter</a></li>
  <li><a href="#">Unrecognized</a></li>
</ul>
<div class="DisplayPort boxFlex1">
  <ul class="Container ItemList">
    <li class="Facebook Item">
      <h1><a href="#">Someone</a> Sent you a Facebook Message</h1>
      <div class="Content">
        <h2>Subject: Email</h2>
        <p>Thanks! It seems to be okay now.</p>
      </div>
    </li>
  </ul>
</div>
</div>
