<div class="sessionless">

  <p>TODO: Show a demo of how Sift works, offer people to sign up or login.</p>

  <div class="hbox" style="margin-top: 40px;">
    <div class="boxFlex1"><a href="/session/new">Login</a></div>
    <div style="text-align:right;" class="boxFlex1"><a href="/dashboard">Dashboard</a></div>
  </div>
</div>
