<h1>Sign In</h1>

<p>
  Mozilla Sift uses 
  <a href="https://browserid.org/users.html"><img src="/images/browserid_logo_sm.png" alt="Browser ID" /></a>. 
  <a href="https://browserid.org/users.html"><img src="/images/browserid_logo_sm.png" alt="Browser ID" /></a> 
  provides a <em>simple</em> and <em>sophisticated</em> login process that you will love.
</p>

<p>
  <% form_for 'session', :url => '/session' do |f|%>
    <%= f.hidden_field :assertion, :class => "SignIn" %>
    <a href="#" class="SignIn"><img src="https://browserid.org/i/sign_in_blue.png" alt="Sign In" /></a>
  <% end %>
</p>

