<div id="signin">

  <p>
    <% form_for 'session', :url => '/session' do |f|%>
      <%= f.hidden_field :assertion, :class => "SignIn" %>
      <a href="#" class="SignIn"><img src="https://browserid.org/i/sign_in_blue.png" alt="Sign In" /> <span class="extra">with <img src="/images/browserid_logo_sm.png" alt="Browser ID" /></span></a>
    <% end %>
  </p>

  <p class="extra" style="margin-top: 40px;">
    <a href="https://browserid.org/users.html">BrowserID</a> provides a <em>simple</em> and <em>sophisticated</em> login process that you will love.
  </p>

</div>
